/*-------------------- BODY ------------------------------------------------------*/
@font-face {
	font-family: "e-Ukraine-Regular";
	src: url('../e-Ukraine_font/e-Ukraine/e-Ukraine-Regular.otf');
}
body {
	font-family: "e-Ukraine-Regular", normal;
	margin: 0;
	background: #D9D9D9;
}

.div {
	margin: 0;
	padding: 0;
	display: none;
}

button, input {
	outline: none;
	border: none;
	background: none;
	margin: 0;
	padding: 0;
}
/* ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
} */

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/*-------------------- LANGUAGE ------------------------------------------------------*/

.ukraine {
	display: none;
}
.english {
	display: block;
}
.polish {
	display: none;
}

/*-------------------- SCROLLBAR ------------------------------------------------------*/

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color:  #D9D9D9;
	box-shadow: inset 0px 0px 5px #616974;
	border-radius: 10px;
	visibility: hidden;
}
::-webkit-scrollbar-track:hover {
	visibility: visible;
}
::-webkit-scrollbar-thumb {
	background-color: #616974;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	box-shadow: 0px 0px 5px #616974;
}

/*-------------------- TITLE --------------------------*/

@font-face {
	font-family: "e-Ukraine-Light";
	src: url('../e-Ukraine_font/e-Ukraine/e-Ukraine-Light.otf');
}
main > section > h1 {
	margin: 55px auto;
	color: #D9D9D9;
	font-family: "e-Ukraine-Light", sans-serif;
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	text-align: center;
}

@media screen and (max-width: 480px){
	main > section > h1  {
		font-size: 50px;
		line-height: 60px;
	}
}