@font-face {
  font-family: "e-Ukraine-Regular";
  src: url('../e-Ukraine_font/e-Ukraine/e-Ukraine-Regular.otf');
}

.head {
  position: relative;
  height: 90px;
  width: 100%;
  background-color: #1E2939;
  z-index: 3;

  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.form_in_head,
.menu_burger {
  width: 150px;
  height: 100%;
  margin: 0;
  z-index: inherit;
  /* border: 1px solid lime; */
}

/*-------------------- HEAD --------------------------*/
.form_in_head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.language {
  width: 60px;
  height: 47px;
  margin: auto 0;
  outline: none;
  background: linear-gradient(45deg, rgba(80, 44, 132, 1), rgba(69, 127, 214, 1));
  border: none /*1px solid #4BAB00*/;
  border-radius: 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-align: center;
}
.puncts {
  height: 70px;
  background: #242F3E;
  border: 3px solid #4BAB00;
}
.button_in_puncts {
  width: 100%;
  height: 100%;
}

.sites_color {
  display: block;
  width: 60px;
  height: 30px;
  background: #F5F5F5;
  border-radius: 17.5px;
  /* box-shadow: inset 2px 1px 20px #616974; */
  overflow: hidden;
}
.input_in_sites_color {
  display: none;
}
.sun_moon {
  display: block;
  width: 30px;
  height: 100%;
  margin: 0 50% 0 0;
  background: linear-gradient(45deg, #FF9900 0%, #FFF85C 100%);
  filter: blur(1px);
  border-radius: 50%;
  transition: 0.5s;
}
.input_in_sites_color:checked + .sun_moon {
  margin: 0 0 0 50%;
  background: linear-gradient(316.41deg, #457FD6 0%, #A1BEEA 47.28%);
}
.sun_moon > span {
  display: none;
}
.input_in_sites_color:checked + .sun_moon > span {
  display: block;
  width: 80%;
  height: 80%;
  filter: none;
  border-radius: 50%;
  background: #595959;
  transform: translateX(-20%) translateY(-10%);
}

.head > .but {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
  z-index: inherit;
}
.head > .but > .logo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  opacity: 1;
  z-index: 0;
}
.head > .but > .logo:hover {
  opacity: 0.9;
}

.menu_burger {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.menu_burger > .link {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  margin: auto;
  background: none;
  border: none;
  border-radius: 20%;
  transition: 0.1s;
}
.link > .burger {
  width: 30px;
  left: 25%;
}
.link > .burger,
.link > .burger:before,
.link > .burger:after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  height: 6px;
  background-color: #616974;
  border-radius: 20px;
  text-align: center;
}
.link > .burger {
  transition: 0.1s;
}
.link > .burger:before,
.link > .burger:after {
  content: "";
  display: block;
  transition: 0.5s;
  width: 40px;
  margin-left: -5px;
}
.link > .burger:before {
  transform: translateY(-12px);
}
.link > .burger:after {
  transform: translateY(12px);
}
.link_active {
  display: block;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  border-radius: 20%;
  position: relative;
}
.link_active > .burger {
  width: 30px;
  left: 25%;
}
.link_active > .burger,
.link_active > .burger:before,
.link_active > .burger:after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 40px;
  height: 6px;
  background-color: #616974;
  border-radius: 20px;
}
.link_active > .burger {
  visibility: hidden;
}
.link_active > .burger:before,
.link_active > .burger:after {
  content: "";
  display: block;
  transition: 0.5s;
  width: 40px;
  margin-left: -5px;
}
.link_active > .burger:before {
  visibility: visible;
  transform: rotate(-45deg);
}
.link_active > .burger:after {
  visibility: visible;
  transform: rotate(45deg);
}
.link:hover,
.link_active:hover {
  background-color: #051937;
}

.menu_burger a {
  align-self: flex-end;
}
.menu_burger img {
  height: 70px;
}

/*-------------------- MENU WINDOW --------------------------*/
.transMenu,
.transMenu_S {
  position: absolute;
  width: 100%;
  min-height: 73px;
  top: 90px;
  z-index: 2;

  background: #1E2939;
  border: 1px solid #78A2E1;
  border-top: none;
  border-radius: 0 0 20px 20px;
  box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
  transition: 0.7s;
}

.transMenu_S {
  transform: translateY(-115%);
}

.transMenu {
  transform: translateX(0%);
}

#menu_window > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  gap: max(10px);
  z-index: inherit;
}

.men_win {
  display: block;
  width: 190px;
  height: 72px;
  z-index: inherit;
  margin: 0;
  padding: 7px 0 0 0;
  border-top: 3px solid rgba(30, 41, 57, 0);
}

.men_win:hover {
  border-top: 3px solid #8FD855;
}

.men_win > .but {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 23px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFF;
}

.men_win > .but > span {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-decoration: none;
}

.men_win:hover > .but {
  color: #8FD855;
  background-color: #051937;
}

#menu_window .men_win.act {
  border-top: 3px solid #8FD855;
}
#menu_window .men_win.act > .but {
  color: #8FD855;
  background-color: #051937;
}

#paw {
  width: 160px;
  height: 71px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: inherit;
}

#top:hover {
  border-top-right-radius: 20px;
}

/*-------------------- TITLE --------------------------------------*/

.title {
  max-width: 766px;
  height: 138px;
  margin: 53px auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-family: Russo One, sans-serif;/*Secular One*/
  color: #1E2939;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
}



@media screen and (max-width: 481px) {
  /*-------------------- HEAD --------------------------*/
  .head {
    height: 70px;
  }

  .form_in_head,
  .menu_burger {
    width: 110px;
    height: 100%;
    margin: 0;
  }
  .form_in_head {
    gap: 10px;
  }
 
  .language {
    width: 47px;
    height: 37px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .puncts {
    height: 70px;
  }
  .button_in_puncts {
    width: 100%;
    height: 100%;
  }

  .sites_color {
    width: 40px;
    height: 20px;
  }
  .sun_moon {
    width: 20px;
  }
  
  .head > .but {
    height: 50px;
    width: 50px;
    margin: auto;
  }

  .head .link:hover,
  .head .link_active:hover {
    background: none;
  }
  .menu_burger img {
    height: 50px;
  }
  /*-------------------- MENU WINDOW --------------------------*/
  .transMenu,
  .transMenu_S {
    height: 365px;
    top: 70px;
  }
  #menu_window > ul {
    display: block;
    gap: 0;
  }
  .men_win {
    display: block;
    width: 100%;
    height: 73px;
    padding: 0 0 0 10px;
    
    border-top: none;
    border-left: 3px solid rgba(30, 41, 57, 0);
  }
  .men_win:hover {
    border-top: none;
    border-left: 3px solid #8FD855;
  }
  .men_win > .but {
    padding: 0 0 0 28px;
    justify-content: start;
  }
  .men_win > .but > span {
    font-size: 32px;
    line-height: 39px;
  }
  .men_win:hover > .but {
    color: #8FD855;
    background-color: #051937;
  }
  #menu_window .men_win.act {
    border-top: none;
    border-left: 3px solid #8FD855;
  }
  #paw {
    width: 100%;
    height: 71px;
    padding: 0 37px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /*-------------------- TITLE --------------------------------------*/
  .title {
    margin: 23px auto;
    font-weight: 400;
    font-size: 54px;
    line-height: 57px;
  }
}

/*# sourceMappingURL=head.css.map */
