/*-------------------- FOOTER ------------------------------------------------------*/

.footer {
	background-color: #1E2939;
	min-height: 200px;
	width: 100%;
	padding-top: 10px;
}
.footer-block {
	height: 35px;
	width: 300px;
	text-align: center;
	margin: 0 auto;
}
.footer-block h3 {
	color: #FFF;
}
.contacts {
	width: 1000px;
	height: 60px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
}
.contacts a {
	text-decoration: none;
	color: #FFF;
	opacity: 0.5;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.img-contacts {
	width: 200px;
	height: 100px;
}
.img {
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cont {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}