@font-face {
  font-family: "e-Ukraine-Regular";
  src: url('../e-Ukraine_font/e-Ukraine/e-Ukraine-Regular.otf');
}

/*-------------------- HEAD --------------------------*/
.head {
  background-color: #1E2939;
  height: 90px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}
.menu-burger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.menu-burger > .link {
  display: block;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  border-radius: 20%;
  position: relative;
  transition: 0.1s;
}
.link > .burger {
  width: 30px;
  left: 25%;
}
.link > .burger,
.link > .burger:before,
.link > .burger:after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  height: 6px;
  background-color: #616974;
  border-radius: 20px;
  text-align: center;
}
.link > .burger {
  transition: 0.1s;
}
.link > .burger:before,
.link > .burger:after {
  content: "";
  display: block;
  transition: 0.5s;
  width: 40px;
  margin-left: -5px;
}
.link > .burger:before {
  transform: translateY(-12px);
}
.link > .burger:after {
  transform: translateY(12px);
}
.link_active {
  display: block;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  border-radius: 20%;
  position: relative;
}
.link_active > .burger {
  width: 30px;
  left: 25%;
}
.link_active > .burger,
.link_active > .burger:before,
.link_active > .burger:after {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 40px;
  height: 6px;
  background-color: #616974;
  border-radius: 20px;
}
.link_active > .burger {
  visibility: hidden;
}
.link_active > .burger:before,
.link_active > .burger:after {
  content: "";
  display: block;
  transition: 0.5s;
  width: 40px;
  margin-left: -5px;
}
.link_active > .burger:before {
  visibility: visible;
  transform: rotate(-45deg);
}
.link_active > .burger:after {
  visibility: visible;
  transform: rotate(45deg);
}
.link:hover,
.link_active:hover {
  background-color: #051937;
}
.head > .but {
  display: block;
  width: 70px;
  height: 70px;
  margin: auto;
}
.head > .but > .logo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  opacity: 1;
  z-index: 0;
}
.head > .but > .logo:hover {
  opacity: 0.9;
}
.help,
.menu-burger {
  width: 150px;
  height: 100%;
  margin: 0;
}
.head > .help {
  display: flex;
  justify-content: flex-end;
}
.help > form {
  display: block;
  align-self: center;
}
.form_in_head {
  width: 60px;
  height: 47px;
  margin: auto 18px auto 0;
  outline: none;
  background: linear-gradient(45deg, rgba(80, 44, 132, 1), rgba(69, 127, 214, 1));
  border: none /*1px solid #4BAB00*/;
  border-radius: 12px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-align: center;
}
.puncts {
  height: 70px;
  background: #242F3E;
  border: 3px solid #4BAB00;
}
.button_in_puncts {
  width: 100%;
  height: 100%;
}
.help a {
  align-self: flex-end;
}
.help img {
  height: 70px;
}

/*-------------------- MENU WINDOW --------------------------*/
.transMenu,
.transMenu_2 {
  position: absolute;
  width: 257px;
  height: 365px;
  background: #1E2939;
  border: 1px solid #78A2E1;
  border-left: none;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
  transition: 1s;
  top: 90px;
  z-index: 5;
}

.transMenu {
  transform: translateX(-110%);
}

.transMenu_2 {
  transform: translateX(0%);
}

#menu_window > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.men_win {
  display: block;
  width: 100%;
  height: 73px;
  padding: 0 0 0 10px;
  border-left: 3px solid #1E2939;
}

.men_win:hover {
  border-left: 3px solid #8FD855;
}

.men_win > .but {
  width: 100%;
  height: 100%;
  padding: 0 0 0 28px;
  border-radius: 23px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.men_win > .but > h2 {
  color: #FFF;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-decoration: none;
}

.men_win:hover > .but {
  color: #8FD855;
  background-color: #051937;
}

#menu_window .men_win.act > .but > h2 {
  color: #8FD855;
  /*border-left: 3px solid #8FD855;*/
}

#paw {
  width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
}

.paw-img {
  margin-left: 150px;
}

#top:hover {
  border-top-right-radius: 20px;
}

/*-------------------- TITLE --------------------------------------*/

.title {
  max-width: 766px;
  height: 138px;
  margin: 53px auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-family: Russo One, sans-serif;/*Secular One*/
  color: #1E2939;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
}



@media screen and (max-width: 481px) {
  .title {
    margin: 23px auto;
    font-weight: 400;
    font-size: 54px;
    line-height: 57px;
  }
  .head {
    height: 70px;
  }
  .head .link:hover,
  .head .link_active:hover {
    background: none;
  }
  .head > .but {
    height: 50px;
    width: 50px;
    margin: auto;
  }
  .head .help img {
    height: 50px;
  }
  .help,
  .menu-burger {
    width: 110px;
    height: 100%;
    margin: 0;
  }
  .form_in_head {
    width: 47px;
    height: 37px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  .puncts {
    height: 70px;
  }
  .button_in_puncts {
    width: 100%;
    height: 100%;
  }
  .transMenu, .transMenu_2 {
    top: 70px;
  }
}

/*# sourceMappingURL=head.css.map */
