body {
	background-color: #F5F7FA;
	font-family: Montserrat, normal;
	margin: 0;
}

/*-------------------- RESUME ----------------------------------------------------*/

.resume-list {
	width: 1200px;
	height: 1319px;
	background-color: white;
	margin: 40px auto;
	padding: 0;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.15);
}

/*-------------------- LEFT LINE -------------------------------------------------*/

aside {
	color: white;
}
.left-line {
	background-color: #1E2939;
	width: 370px;
	height: 100%;
	float: left;
}
.photo {
	width: 370px;
	margin-top: 40px;
	margin-bottom: 51px;
}
.left-line-block {
	margin-left: 40px;
	border-color: 1px solid white;
	margin-bottom: 47px;
}
.left-line-block p span {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	margin-right: 10px;
}
.left-line-block a {
	text-decoration: none;
	color: #FFF;
	opacity: 0.5;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.left-line-block h3 {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 8px;
}
.left-line-block ul {
	padding: 0;
	margin-left: 20px;
}
.left-line-block li {
	color: #FB6D3A;
}
li span {
	color: #FFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

/*-------------------- RIGHT LINE ------------------------------------------------*/

.right-line {
	height: 100%;
	padding: 102px 0 102px 458px;
}
.right-line-block h1 {
	font-weight: 700;
	font-size: 45px;
	line-height: 55px;
	margin: 19px 0;
}
.right-line-block h3 {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 12px;
}
.right-line-block h4 {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 0;
}
.right-line-block h4 span {
	color: #FB6D3A;
}
big {
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-top: 102px;
	margin-left: 3px;
	margin-bottom: 0;
}
.description,
ul li {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
}
.description {
	width: 400px;
	margin-bottom: 40px;
}
.date-description {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #A8A8A8;
	margin-top: 6px;
	margin-bottom: 8px;
}
.right-line-block ol,
.right-line-block ul {
	padding: 0;
	margin-left: 20px;
}
ol {
	margin-bottom: 51px;
}
.right-line-block ul {
	margin-top: 0;
}
.number {
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}
.link,
.link a {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #595959;
	text-decoration: none;
	margin-left: 3px;
}
