@font-face {
  font-family: "e-Ukraine-UltraLight";
  src: url('.../e-Ukraine_font/e-Ukraine/e-Ukraine-UltraLight.otf');
}

.wor {
  margin: 0 30px;
}

/*-------------------- LEGEND --------------------*/
.legend {
  width: 220px;
  height: 50px;
  margin: 0 auto 43px auto;
}
.legend > ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}
.legend > ul > .leg-el {
  display: block;
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.legend .color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 30%;
}
.legend .color p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
  color: #1E2939;
  font-family: "e-Ukraine-UltraLight", sans-serif;
  font-size: 17.5px;
}
.legend #blue {
  background-color: rgb(120, 162, 225);
}
.legend #green {
  background-color: rgb(143, 216, 85);
}

/*-------------------- MENU --------------------*/
.block_menu_p {
  max-width: 510px;
  height: 100%;
  margin: 0px auto;
  padding: 0;
  list-style-type: none;

  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 170px;
  /* grid-auto-rows: auto;
  grid-auto-columns: 250px; */
  /* grid-auto-columns: auto; */
  grid-row-gap: 35px;
  grid-column-gap: 30px;
}
.block_menu_p > li {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.block_menu_p .but {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.0);
  box-shadow: rgba(0, 0, 0, 0.19) 5px 7px 13px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 39px;
  border-image: initial;
  transition: all 0.2s ease 0s;
  overflow: hidden;
}
.but > img {
  position: absolute;
  width: 110%;
  z-index: -1;
  opacity: 0.3;
}
/* .q_e_c {} */
.q_e_c > img {width: 150%;}
/* .b_t {} */
/* .p_g {} */
/* .m_g {} */
/* .e_r {} */
.e_t > img {width: 120%;}
.t_g > img {
  width: auto;
  height: 110%;
  bottom: 0;
}

.wor .but span {
  color: #1E2939;
  font-weight: 100;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  opacity: 1;
}
.wor .block_menu_p .close {
  animation-name: close;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes close {
  0% {
    box-shadow: 0px 0px 7px #8FD855;
  }
  50% {
    box-shadow: 0px 0px 20px #8FD855;
  }
  100% {
    box-shadow: 0px 0px 7px #8FD855;
  }
}
.wor .block_menu_p .open {
  animation-name: open;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes open {
  0% {
    box-shadow: 0px 0px 7px #78A2E1;
  }
  50% {
    box-shadow: 0px 0px 20px #78A2E1;
  }
  100% {
    box-shadow: 0px 0px 7px #78A2E1;
  }
}
.wor .block_menu_p .but:hover {
  animation-name: t_hover;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes t_hover {
  from {
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
  }
  to {
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
  }
}

@media screen and (max-width: 480px) {
  .wor .block_menu_p {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
  }
  .wor .block_menu_p > li {
    min-width: 110px;
    min-height: 100px;
  }
  .wor .block_menu_p .but {
    border-radius: 23px;
  }
  .wor .block_menu_p .but span {
    color: #1E2939;
    font-weight: 400;
    font-size: 19px;
    line-height: 21px;
    text-align: center;
  }
}

/*# sourceMappingURL=project-page.css.map 
