/*------------------------------------ MENU ------------*/

.cv_list {
	width: 996px;
	height: 1319px;
	margin: 40px auto;
	background: #FFFFFF;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
	font-family: 'Open Sans', sans-serif;

	background-image: url(img/head-in-cv2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;

	display: grid;
	grid-template-rows: 316px 975px;
	grid-template-columns: 390px 606px;
	grid-row-gap: 28px;
	grid-template-areas: 
	"header header" 
	"left right";
}

/*------------------------------------ HEADER ------------*/
.header_in_cv2 {
	grid-area: header;
	width: 100%;
	height: 316px;
	padding: 21px 0 0 38px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.header_in_cv2 > img {
	width: 230px;
	height: 230px;
	border-radius: 50%;
	margin-right: 52px;
	float: left;
}
.header_in_cv2 > div {
	width: 400px;
	height: 100px;
	margin: 28px 0 0 0;
}
.header_in_cv2 > div > h1 {
	margin: 0;

	color: #FFFFFF;
	font-weight: 590;
	font-size: 35px;
	line-height: 42px;
}
.header_in_cv2 > div > p {
	margin: 0;

	color: #A641B5;
	font-weight: 590;
	font-size: 14px;
	line-height: 25px;
}

/*------------------------------------ LEFT LINE ------------*/
.left_line_in_cv2 {
	grid-area: left;
	width: 390px;
	height: 975px;
	padding: 0 0 0 38px;
}
.title_in_left_line {
	width: 270px;
	height: 30px;
	margin: 0 0 12px 0;
	padding: 0 0 0 24px;
	background: #A641B5;
	border-radius: 25px;

	display: flex;
	align-items: center;

	color: #FFFFFF;
	font-weight: 700;
	font-size: 25px;
	line-height: 100%;
	letter-spacing: 0.13em;
}

.icons_and_contacts {
	width: 314px;
	height: 96px;
	margin: 0 0 31px 28px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
}
.icons_and_contacts > li {
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: flex-end;
}
.icons_and_contacts > li > img {
	width: 20px;
	height: 20px;
	margin: auto 0;
	padding: 0;
}
.icons_and_contacts > li > a,
.icons_and_contacts > li > p {
	height: 100%;
	margin: 0 0 0 15px;
	padding: 0;
	text-decoration: none;

	display: flex;
	align-items: center;

	color: #1E2939;
	font-weight: 700;
	font-size: 14px;
	line-height: 100%;
	font-variation-settings: 'slnt' 0;
}

.languages_lavels {
	width: 314px;
	margin: 0 0 31px 0;
	padding: 0;
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
}
.languages_lavels > li {
	width: 100%;
	min-height: 25px;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 14px;
}
.languages_in_left_line {
	display: block;
	width: 150px;
	height: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	color: #1E2939;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.07em;
}
.stars {
	width: 150px;
	height: 100%;
	margin: 0;
	padding: auto 0;
	
	display: flex;
	align-items: center;
	gap: 5px;
}

.stars > img {
	margin: 0;
}

.stars > img[alt="gray star"] {
	opacity: 0.3;
}

.skills_lavels {
	width: 314px;
	margin: 0 0 31px 0;
	padding: 0;
	list-style-type: none;

	display: flex;
	flex-direction: column;
	gap: 7px;
}
.skills_lavels > li {
	width: 100%;
	min-height: 20px;
	margin: 0;
	padding: 0;
	
	display: flex;
	align-items: center;
	gap: 14px;
}
.skills_in_left_line {
	display: block;
	width: 150px;
	height: 100%;
	margin: 0;
	padding: 0;
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
	text-align: right;
	
	color: #1E2939;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.05em;
}
.gray_line {
	width: 100px;
	height: 10px;
	background: #D9D9D9;
	border-radius: 10px;
	margin: 4px 0;
}
.green_line {
	height: 10px;
	background: #8FD855;
	border-radius: 10px;
}

.hobbyes {
	width: 250px;
	height: 50px;
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
}
.hobbyes > li {
	display: inline-block;
	width: 50px;
	height: 100%;
	margin: 0 15px 0 0;
}
.hobbyes img {
	width: 100%;
	height: 100%;
}

/*------------------------------------ RIGHT LINE ------------*/
.right_line_in_cv2 {
	grid-area: right;
	width: 606px;
	height: 975px;
	padding: 0 15px 0 0;
}
.title_in_right_line {
	margin: 0 0 25px 0;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.13em;
	color: #1E2939;
}
.year {
	margin: 0 0 11px 2px;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: 0.1em;
	color: #1E2939;
}
.right_line_in_cv2 > section > ul {
	margin: 0;
	padding: 0 0 0 25px;
	list-style-type: none;
}
.course_in_right_line {
	margin: 0 0 6px 0;
	font-weight: 600;
	font-size: 23px;
	line-height: 28px;
	color: #502C84;
}
.company_in_right_line {
	margin: 0 0 19px 0;
	font-weight: 600;
	font-size: 19px;
	line-height: 23px;
	color: #595959;
}
.education {
	margin: 56px 0 25px 0;
}



@media screen and (max-width: 480px){

	/*------------------------------------ MENU ------------*/
	.cv_list {
		width: 100%;
		height: auto;
		margin: 40px 0 0 0;
		padding: 0;
		box-shadow: none;
		background-size: 100% 160px;

		display: flex;
		flex-wrap: wrap;
		gap: 0;
	}

	/*------------------------------------ HEADER ------------*/
	.header_in_cv2 {
		height: 194px;
		margin: 0;
		padding: 10px 0 0 20px;

		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.header_in_cv2 > img {
		width: 100px;
		height: 100px;
		margin: 0 15px 0 0;
	}
	.header_in_cv2 > div {
		width: 400px;
		height: 100px;
		margin: 10px 0 0 0;
	}
	.header_in_cv2 > div > h1 {
		font-size: 20px;
		line-height: 20px;
	}
	.header_in_cv2 > div > h5 {
		font-size: 11px;
		line-height: 11px;
	}

	/*------------------------------------ LEFT LINE ------------*/
	.left_line_in_cv2 {
		width: 100%;
		height: auto;
		margin: 0;
		padding-bottom: 50px;
		padding-left: 0;
	}
	.title_in_left_line {
		height: 40px;
		margin: 0 auto 15px auto;
		padding-left: 0;
		justify-content: center;
	}
	.icons_and_contacts {
		width: 234px;
		margin: 0px 0 31px 98px;
		display: flex;
		justify-content: space-between;
	}
	.contacts_in_left_line {
		width: 200px;
	}
	.languages_lavels {
		width: 314px;
		margin: 0 auto 31px auto;
	}
	/* .stars {
		font-size: 20px;
	} */
	.skills_lavels {
		margin: 0 auto 31px auto;
	}
	.hobbyes {
		margin: 12px auto 0 auto;
	}

	/*------------------------------------ RIGHT LINE ------------*/
	.right_line_in_cv2 {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0 30px 50px 30px;
	}
	.course_in_right_line {
		font-size: 21px;
		line-height: 26px;
	}
	.company_in_right_line {
		font-size: 17px;
		line-height: 21px;
	}
	.right_line_in_cv2 > section > ol {
		padding: 0 0 0 20px;
	}
}