body {
	background-color: #242F3E;
	font-family: Roboto, sans-serif;
}

/*-------------------- BODY ----------------------------------------------------*/

h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	text-align: center;
	color: #D9D9D9;
	margin: 55px auto 55px auto;
}
.functional {
	width: 1070px;
	height: 445px;
	margin: 0 auto 45px auto;
	display: flex;
	justify-content: space-between;
}
.left, .right {
	width: 500px;
	height: 445px;
}
.right {
	display: flex;
	justify-content: flex-start;
}
input, button {
	border: none;
}
.options {
	position: relative;
	height: 350px;
	width: 500px;
	background-color: #D9D9D9;
	border-radius: 10px;
	margin: 0 auto 0 auto;
	padding: 17px 0 0 0;
}
.param h3 {
	width: 505px;
	height: 43px;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	margin: 0 0 17px 47px;
}
form {
	width: 400px;
	height: 183spx;
	margin: 0 0 41px 53px;
}
.param-one {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 28px;
}
.param-one input {
	display: none;
}
.check {
	width: 377px;
	height: 31px;
	margin-bottom: 7px;
}
.param-one label::before[name="remuv"] {
	margin-bottom: 0;
}
.param-one label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;

	box-sizing: border-box;
	border: 1px solid #1E2939;
	border-radius: 7px;
	background-color: #FFF;
	margin-right: 14px;
}
.param-one input:checked + label::before {
	background-color: #A1BEEA;
}
.param-one input:hover + label::before {
	background-color: #F5F7FA;
}
.param-one input:checked:hover + label::before {
	background-color: #A8C2EA;
}
.param-two {
	width: 300px;
	display: inline-flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
.num {
	width: 100px;
	height: 48px;
}
select {
	width: 100%;
	height: 24px;
	box-sizing: border-box;
	border: none;
	border-radius: 7px;
	font-weight: 400;
	font-size: 19px;
	line-height: 20px;
	text-align: center;
	outline: none;
	transition: 0.2s;
}
select:hover {
	border: 1px solid #1E2939;
}
.num label {
	margin-left: 1px;
}
.button, button{
	box-sizing: border-box;
	transition: 0.07s;
}
.button {
	margin: 0 auto;
	height: 50px;
	width: 400px;
	margin-top: 30px;
	border-radius: 10px;
}
button {
	height: 100%;
	width: 100%;
	background-color: #D9D9D9;
	border-radius: 10px;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	outline: none;
}
.button:hover {
	margin-top: 28.5px;
	height: 53px;
	width: 406px;
	transition: 0.03s;
}
button:hover {
	box-shadow: 0px 10px 10px #1E2939,
				0px 10px 20px #1E2939,
				0px 10px 30px #1E2939;
}


.result {
	height: 445px;
	width: 300px;
	background-color: #D9D9D9;
	border-radius: 10px;
	padding: 0;
}
.pass {
	width: 301px;
	height: 45px;
	padding-top: 17px;
}
.pass h3 {
	font-weight: 300;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	margin: 0 auto 23px auto;
}
ul {
	list-style-type: none;
}
li {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 7px;
}