/*-------------------- LEGEND ----------------------------------------------------*/

.legend {
	width: 100%;
	height: 60px;
	text-align: center;
	margin-bottom: 43px;
}
.leg-el {
	width: 220px;
	height: 25px;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
}
.color {
	width: 15px;
	height: 15px;
	border-radius: 30%;
	margin-right: 5px;
}
#blue {
	background-color: #78A2E1;
}
#green {
	background-color: #8FD855;
}

/*-------------------- MENU ----------------------------------------------------*/

.block-menu {
	min-height: 799px;
	max-width: 799px;
	margin: 0 auto;
}
.string {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.string a {
	text-decoration: none;
}
.text {
	box-sizing: border-box;
	width: 314px;
	height: 232px;
	margin: 30px;
	box-sizing: border-box;
	position: relative;
	
	background-color: #D9D9D9;
	box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
	border-radius: 39px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
}
.text h3 {
	color: #502C84;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
}
.open {
	animation-name: open;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
@keyframes open {
	0% {
		box-shadow: 0px 0px 7px #78A2E1;
	}
	50% {
		box-shadow: 0px 0px 20px #78A2E1;
	}
	100% {
		box-shadow: 0px 0px 7px #78A2E1;
	}
}
.close {
	animation-name: close;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
@keyframes close {
	0% {
		box-shadow: 0px 0px 7px #8FD855;
	}
	50% {
		box-shadow: 0px 0px 20px #8FD855;
	}
	100% {
		box-shadow: 0px 0px 7px #8FD855;
	}
}
.text:hover {
	animation-name: t_hover;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
@keyframes t_hover {
	from {
		box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
	}
	to {
		box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
	}
}
/*
.text:before,
.text:after {
	content: '';
	position: absolute;
 	transition: 0.2s;
}
.text:before {
 	border-top: 3px solid #1E2939;
 	border-bottom: 3px solid #1E2939;
 	transform: scaleX(0.1);
}
.text:after {
 	border-left: 3px solid #1E2939;
 	border-right: 3px solid #1E2939;
 	transform: scaleY(0.1);
}
.text:hover .text:before {
	transform: scaleX(1);
}
.text:hover .text:after {
	transform: scaleY(1);
}
*/