body {
	font-family: cursive;
	margin: 0;
}
h1 {
	text-align: center;
	color: #4BAB00;
	font-size: 50px;
}

/*-------------------- DISCRIPTION ------------------------------------------------------*/

div {
	margin: auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
	font-size: 30px;
}
.tabel-div {
	padding: 0;
	height: 130px;
	max-width: 450px;
	align-items: center;
}
td {
	text-align: center;
	height: 50px;
}
.tabel {
	padding: 0;
	width: 90px;
	border: 1px solid;
	border-collapse: collapse;
	border: 1px solid #4BAB00;
}
.td-a-b-c {
	background-color: #B2ED83;
	margin: 0;
}
.inp {
	width: 90px;
	height: 50px;
	font-size: 25px;
	border: 1px solid #BCBCBC;
	margin: 0;
	background-color: #F5F5F5;
	text-align: center;
}
tr {
	margin: 0;
}

/*-------------------- BUTTON ------------------------------------------------------*/

#button {
	height: 50px;
	width: 200px;
	background-color: #4BAB00;
	color: white;
	border: 1px solid #4BAB00;
	margin: auto;
	font-size: 25px;
}
#button:hover {
	background-color: #8FD855;
	border: 3px solid #8FD855;
}

/*-------------------- LINE ------------------------------------------------------*/

hr {
	display: center;
	max-width: 550px;
}

/*-------------------- FOTTER ------------------------------------------------------*/

.tabel-2 {
	width: 150px;
	border-collapse: collapse;
}
.td-x1-x2 {
	background-color: #A1BEEA;
	margin: 0;
	border: 1px solid #457FD6;
}
.td-x1-x2-2 {
	font-size: 25px;
	border: 1px solid #BCBCBC;
	background-color: #F5F5F5;
}
