
/*-------------------- LEGEND --------------------*/

.pr .legend {
  width: 100%;
  height: 60px;
  text-align: center;
  margin-bottom: 43px;
}
.pr .legend .leg-el {
  width: 220px;
  height: 25px;
  font-family: Roboto, sans-serif;
  color: #1E2939;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.pr .legend .color {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 30%;
}
.pr .legend .color .leg-text p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.pr .legend #blue {
  background-color: rgb(120, 162, 225);
}
.pr .legend #green {
  background-color: rgb(143, 216, 85);
}

/*-------------------- MENU --------------------*/

.pr .block-menu-p {
  min-height: 100px;
  max-width: 630px;
  margin: 0px auto;
}
.pr .block-menu-p .string-p {
  height: 100%;
  max-width: 570px;
  margin: 0px 30px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  grid-auto-rows: auto;
  grid-auto-columns: 270px;
  grid-auto-columns: auto;
  grid-row-gap: 35px;
  grid-column-gap: 30px;
}
.pr .block-menu-p .string-p .but .text-p {
  box-sizing: border-box;
  max-width: 270px;
  max-height: 200px;
  min-width: 270px;
  min-height: 200px;
  position: relative;
  background-color: rgba(245, 245, 245, 0.0);
  box-shadow: rgba(0, 0, 0, 0.19) 5px 7px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  /*border-width: 1px;
  border-style: solid;
  border-color: rgb(30, 41, 57);*/
  border-image: initial;
  transition: all 0.2s ease 0s;
  overflow: hidden;
}
.text-p > img {
  position: absolute;
  width: 110%;
  z-index: -1;
  opacity: 0.3;
}
.q_e_c {
}
.q_e_c > img {
  width: 150%;
}
.b_t {
}
.p_g {
}
.m_g {
}
.e_r {
}
.t > img {
  width: 120%;
}
.pr .block-menu-p .string-p .but .text-p h3 {
  color: #1E2939;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  opacity: 1;
}
.pr .block-menu-p .string-p .but .close {
  animation-name: close;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes close {
  0% {
    box-shadow: 0px 0px 7px #8FD855;
  }
  50% {
    box-shadow: 0px 0px 20px #8FD855;
  }
  100% {
    box-shadow: 0px 0px 7px #8FD855;
  }
}
.pr .block-menu-p .string-p .but .open {
  animation-name: open;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes open {
  0% {
    box-shadow: 0px 0px 7px #78A2E1;
  }
  50% {
    box-shadow: 0px 0px 20px #78A2E1;
  }
  100% {
    box-shadow: 0px 0px 7px #78A2E1;
  }
}
.pr .block-menu-p .string-p .but .text-p:hover {
  animation-name: t_hover;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes t_hover {
  from {
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
  }
  to {
    box-shadow: 5px 7px 13px rgba(0, 0, 0, 0.19);
  }
}

@media screen and (max-width: 480px) {
  .pr .block-menu-p .string-p {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
  }
  .pr .block-menu-p .string-p .but .text-p {
    min-width: 110px;
    min-height: 100px;
    border-radius: 23px;
  }
  .pr .block-menu-p .string-p .but .text-p h3 {
    color: #1E2939;
    font-weight: 400;
    font-size: 19px;
    line-height: 21px;
    text-align: center;
  }
}

/*# sourceMappingURL=project-page.css.map 
