/*------------ MENU ----------------------*/

.cvs {
	max-width: 490px;
	min-height: 170px;
	margin: 0 auto;
	padding: 0 30px;
}
.div_in_cvs {
	max-width: 430px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.button_in_cvs {
	width: 200px;
	height: 150px;
	border-radius: 39px;
	color: #FFF;
	font-size: 30px;
	font-weight: 100px;
}

.button_in_cvs_one {
	margin-bottom: 30px;
	background: linear-gradient(45deg, #1E2939 25%, #FB6D3A);
}
.button_in_cvs_two {
	background: linear-gradient(45deg, #1E2939 25%, #A641B5);
}



@media screen and (max-width:  480px){
	.cvs {
		min-height: 370px;
	}
	.div_in_cvs {
		justify-content: center;
		align-items: stretch;
	}
}